doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/common.css')
    script(type='text/javascript', src='/javascripts/jquery-1.11.1.js')
    block head
    block css
  body
    #nav
      .c
        .login(style="float: right;")
          - if(req.session['user'] == null)
            a(href="/login") Sign In
          - else
            | Welcome,&nbsp;
            a(href="javascript:;") #{req.session['user'].fullname}
            | &nbsp;
            a(href="/logout") Sign Out
        .menus
          a(href="/") Home
          a(href="/article") Articles
          a(href="/article/new") Write Sth.
    div#header
      div.c Online Notes
    div#content.c
      block content

// functions
- function fmt(date) {
-   var arr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
-   var y = date.getFullYear();
-   var m = date.getMonth();
-   var d = date.getDate();
-   if(d < 10) d = '0' + d;
-   return arr[m] + '/' + d + '/' + y;
- }