doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    div#nav
      div.c
        a Home
        a Write Sth.
    div#header
      div.c Online Notes
    div#content.c
      block content