doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    block css
  body
    #nav
      .c
        .login(style="float: right;")
          - if(req.session['user'] == null)
            a(href="/login") Sign In
          - else
            | Welcome,&nbsp;
            a(href="javascript:;") #{req.session['user'].fullname}
            | &nbsp;
            a(href="/logout") Sign Out
        .menus
          a(href="/") Home
          a(href="/article") Articles
          a(href="/article/new") Write Sth.
    div#header
      div.c Online Notes
    div#content.c
      block content