// Created by hch on 2014/11/6.

extends layout
block content

  - for(var i = 0; i < tags.length; i++)
    -var tag = tags[i]
    p #{tag.name}

  form(action="/tag/new", method="post")
    input(type="text", name="tag")
    input(type="submit")


