// Created by hch on 2014/11/6.

extends layout



block content
  ul.tags
    each tag in tags
      li #{tag.name}
        a.del(href="/tag/#{encodeURIComponent(tag.name)}/del") &times;



  form(action="/tag/new", method="post")
    input(type="text", name="tag")
    input(type="submit", value="Add Tag")


