border_style = 1px solid #bbb

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  -o-border-radius arguments
  border-radius arguments

bg()
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#f0f0f0, #ddd);
  background-image: -webkit-linear-gradient(#f0f0f0, #ddd);
  background-image: linear-gradient(#f0f0f0, #ddd);
  background-repeat: repeat-x;

border_box()
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

inline_block()
  display -moz-inline-stack
  display inline-block
  zoom 1
*display inline
body
  margin 0px
  background #eee
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#W
  font-size 16px
  position absolute

.tbl
  width 100%
  border-spacing 0px

.tbl td
  margin 0px
  border 0px
  padding 0
  height 30px
  vertical-align top
  white-space nowrap


.tbl td img.alogo
  max-height 120px
  max-width 120px
  border 1px solid #ccc
  margin-left 3px



.tbl input
  height 30px
  background transparent
  border 0
  border-bottom 1px solid #ccc
  padding 0px 5px
  outline none
  width 100%
  border_box()
  font-size 16px
  cursor text

.tbl #tags
  outline none
  width 100%
  border_box()
  font-size 16px
  cursor text
  border-bottom 1px solid #ccc

#editor
  height 400px

#viewer
  background #fff

