shadow()
  box-shadow 0px 0px 5px #888888
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  -o-border-radius arguments
  border-radius arguments


#ac_dropdown
  position absolute
  background #fff
  min-width 100px
  z-index: 10000
  padding 0px
  margin 0px
  shadow()
  max-height 200px
  overflow-y auto

#ac_dropdown li
  line-height 20px
  padding 0 10px
  list-style none

#ac_dropdown li.sel, #ac_dropdown li:hover
  background #ccc

/*================================================*/

.mipt
  padding 0
.mipt input
  height 22px
  padding 0px
  border 0px
  width 12px
  max-width 200px
  vertical-align top
  margin-left 3px

.mipt .dropdown
  position absolute
  background #fff
  min-width 100px
  z-index: 10000
  padding 0px
  margin 0px
  shadow()
  max-height 200px
  overflow-y auto

.mipt .dropdown li
  line-height 20px
  padding 0 10px
  list-style none

.mipt .dropdown li.sel
  background #ccc

.mipt .W
  position absolute
  visibility hidden
.mipt span.item
  background #ccc
  padding 2px 5px
  margin-left 3px
  margin-bottom 3px
  border-radius(2px)
  vertical-align top
  display inline-block
.mipt span.item .del
  font-size 12px
  padding-left 5px
  cursor pointer
.mipt span.item .del:hover
  color: #f00