shadow()
  box-shadow 0px 0px 5px #888888


#ac_dropdown
  position absolute
  background #fff
  min-width 100px
  z-index: 10000
  padding 0px
  margin 0px
  shadow()
  max-height 200px
  overflow-y auto

#ac_dropdown li
  line-height 20px
  padding 0 10px
  list-style none

#ac_dropdown li.sel, #ac_dropdown li:hover
  background #ccc

/*================================================*/

.mipt input
  height 28px
  padding 0px
  border 0px
  width 12px

.mipt .dropdown
  position absolute
  background #fff
  min-width 100px
  z-index: 10000
  padding 0px
  margin 0px
  shadow()
  max-height 200px
  overflow-y auto

.mipt .dropdown li
  line-height 20px
  padding 0 10px
  list-style none

.mipt .dropdown li.sel
  background #ccc

.mipt .W
  position absolute
  visibility hidden