inline_block()
  display -moz-inline-stack
  display inline-block
  zoom 1
  *display inline


body
  margin: 0;
  background: #f0f0f0;
  font-family Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;

.c
  width: 1000px;
  margin: 0 auto;

#header
  background: #69c;

#header .c
  font-size: 60px;
  color: #f0f0f0;
  line-height: 100px;
  font-weight: bold;

#content
  padding: 10px;
  background: #fff;

  /*-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);*/
  /*-moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);*/
  /*box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);*/

  box-sizing: border-box;

#nav
  background: #f0f0f0;

/*border-bottom: 1px solid #a33;*/

#nav .c
  line-height: 30px;

#nav .c .menus a
  text-decoration: none;
  font-weight: bold;
  color: #69c;
  margin-right: 20px;

#nav .c .menus a:hover
  color: #c66;

#footer .c
  text-align: center;
  line-height: 50px;




/*=======================================================*/

ul.tags
  padding 0px
  margin 0px

ul.tags li
  list-style none
  inline_block()
  line-height 30px
  position relative
  background #ccc
  margin: 0 10px 10px 15px
  padding 0 10px

ul.tags li:before
  content " "
  border 15px solid transparent
  border-right 15px solid #ccc
  border-left 0px
  position absolute
  left -15px

ul.tags li a
  margin-left 10px
  text-decoration none
  font-weight bold

ul.tags li a:hover
  color #f00


/*=======================================================*/

ul.al
  margin 0
  padding 0
ul.al li
  list-style none
  padding 10px
  border-bottom 1px dashed #ccc
ul.al li a.title
  display block
  line-height 40px
  font-size 16px
  font-weight bold
  color #146
ul.al li span
  inline_block()
  line-height 25px
  padding 0 10px
  margin-right 10px
  background #69c
  color #eee
ul.al li div
  padding-top 10px
ul.al li div a
  margin-right 10px
  text-decoration none
  color #444

.tags span.tag
  background #69c
  padding 2px 10px
  margin-right 10px

/*=======================================================*/
.pager .page
  min-width 40px
  height 30px
  line-height 30px
  text-align center
  border 1px solid #ccc
  margin-right 5px
  background #eee
  text-decoration none
  inline_block()

.pager .page:hover
  border-color #69c

.pager .page.dis
  border-color transparent


